site_name: Roborregos@Home Docs
theme:
  name: material
  highlightjs: true
  logo: "assets/logo.png"
  favicon: "assets/favicon.png"
  features:
    - content.code.annotate
  palette:
    scheme: default
    primary: blue
    accent: blue
  font:
    text: Inter, Roboto, sans-serif
    code: Roboto Mono, monospace

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - attr_list

validation:
  links:
    absolute_links: relative_to_docs

plugins:
  - search
  - awesome-pages

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
